Notes 

LOCATION = the country code name
SUBJECT = The type of meat(pig, beef, etc)
TIME = the year the data was recorded
MEASURE = the measure used to show the value
VALUE = The value, according to the measure

In [16]:
import pandas as pd

In [17]:
original_df = pd.read_csv("meat_consumption_worldwide.csv")

In [18]:
df = original_df.copy()

In [19]:
df = df.rename(columns={'LOCATION': 'country', 'SUBJECT': 'animal', 'MEASURE': 'units', 'TIME': 'time', 'Value': 'amount'})

In [20]:
df

      country animal       units  time     amount
0         AUS   BEEF      KG_CAP  1991  27.721815
1         AUS   BEEF      KG_CAP  1992  26.199591
2         AUS   BEEF      KG_CAP  1993  26.169094
3         AUS   BEEF      KG_CAP  1994  25.456134
4         AUS   BEEF      KG_CAP  1995  25.340226
...       ...    ...         ...   ...        ...
13755     MYS  SHEEP  THND_TONNE  2022  44.154151
13756     MYS  SHEEP  THND_TONNE  2023  44.897588
13757     MYS  SHEEP  THND_TONNE  2024  45.612107
13758     MYS  SHEEP  THND_TONNE  2025  46.325312
13759     MYS  SHEEP  THND_TONNE  2026  47.047207

[13760 rows x 5 columns]

In [21]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [22]:
df.head()

  country animal   units  time     amount
0     AUS   BEEF  KG_CAP  1991  27.721815
1     AUS   BEEF  KG_CAP  1992  26.199591
2     AUS   BEEF  KG_CAP  1993  26.169094
3     AUS   BEEF  KG_CAP  1994  25.456134
4     AUS   BEEF  KG_CAP  1995  25.340226

In [23]:
df.tail()

      country animal       units  time     amount
13755     MYS  SHEEP  THND_TONNE  2022  44.154151
13756     MYS  SHEEP  THND_TONNE  2023  44.897588
13757     MYS  SHEEP  THND_TONNE  2024  45.612107
13758     MYS  SHEEP  THND_TONNE  2025  46.325312
13759     MYS  SHEEP  THND_TONNE  2026  47.047207

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13760 entries, 0 to 13759
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  13760 non-null  object
 1   animal   13760 non-null  object
 2   units    13760 non-null  object
 3   time     13760 non-null  int64
 4   amount   13760 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 537.6+ KB

In [26]:
df['country'].unique()

array(['AUS', 'CAN', 'JPN', 'KOR', 'MEX', 'NZL', 'TUR', 'USA', 'DZA',
       'ARG', 'BGD', 'BRA', 'CHL', 'CHN', 'COL', 'EGY', 'ETH', 'GHA',
       'HTI', 'IND', 'IDN', 'IRN', 'ISR', 'KAZ', 'MYS', 'MOZ', 'NGA',
       'PAK', 'PRY', 'PER', 'PHL', 'RUS', 'SAU', 'ZAF', 'SDN', 'TZA',
       'THA', 'UKR', 'URY', 'VNM', 'ZMB', 'WLD', 'SSA', 'OECD', 'BRICS',
       'EU28', 'NOR', 'CHE'], dtype=object)

AUS - Australia
CAN - Canada
JPN - Japan
KOR - South Korea
MEX - Mexico
NZL - New Zealand
TUR - Turkey
USA - United States of America
DZA - Algeria
ARG - Argentina
BGD - Bangladesh
BRA - Brazil
CHL - Chile
CHN - China
COL - Colombia
EGY - Egypt
ETH - Ethiopia
GHA - Ghana
HTI - Haiti
IND - India
IDN - Indonesia
IRN - Iran
ISR - Israel
KAZ - Kazakhstan
MYS - Malaysia
MOZ - Mozambique
NGA - Nigeria
PAK - Pakistan
PRY - Paraguay
PER - Peru
PHL - Philippines
RUS - Russia
SAU - Saudi Arabia
ZAF - South Africa
SDN - Sudan
TZA - Tanzania
THA - Thailand
UKR - Ukraine
URY - Uruguay
VNM - Vietnam
ZMB - Zambia
WLD - World (or Global)
SSA - Sub-Saharan Africa
OECD - Organisation for Economic Co-operation and Development
BRICS - Brazil, Russia, India, China, South Africa (emerging economies group)
EU28 - European Union (28 member states)
NOR - Norway
CHE - Switzerland

In [27]:
df['animal'].unique()

array(['BEEF', 'PIG', 'POULTRY', 'SHEEP'], dtype=object)

In [29]:
df['units'].unique()

array(['KG_CAP', 'THND_TONNE'], dtype=object)

KG_CAP stands for "Kilograms per Capita" or "Kilograms per Capita per Year". This is a unit used to express a quantity of something (like a commodity or product) per person. For example, if you're talking about the amount of wheat consumed per person in a country, you might express it in kilograms per capita.

THND_TONNE stands for "Thousand Metric Tonnes". This is a unit of mass equal to 1,000 metric tonnes (or 1,000,000 kilograms). It's commonly used in the context of large quantities of goods, especially in industries like agriculture, mining, and manufacturing.

In [30]:
# convert tonnes to kg
# Filter rows where MEASURE is 'TONNE' and multiply VALUE by 1000
df.loc[df['units'] == 'THND_TONNE', 'amount'] *= 1000

# Now, the 'VALUE' column contains the values in kilograms